<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NSCC_SMS</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ListStduents</display-name>
		<servlet-name>ListStduents</servlet-name>
		<servlet-class>edu.novascotia.training.ListStduents</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListStudents</display-name>
		<servlet-name>ListStudents</servlet-name>
		<servlet-class>edu.novascotia.training.ListStudents</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListStudent</display-name>
		<servlet-name>ListStudent</servlet-name>
		<servlet-class>edu.novascotia.training.ListStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListStduents</servlet-name>
		<url-pattern>/ListStduents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListStudents</servlet-name>
		<url-pattern>/lsit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListStudent</servlet-name>
		<url-pattern>/ListStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListStudent</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
